{% extends "dashboard.html" %}

{% block style%} 
<link rel="stylesheet" href="../static/css/media_style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
{% endblock %}

{% block content %}

<div class="header_fixed">
    <table>
        <thead>
            <form method='POST' enctype='multipart/form-data'>
                {{form.hidden_tag()}}
                <tr>
                    <td colspan="4"><h1>Contents</h1></th>
                    <td colspan="2">{{form.file(class="form-control")}} {{msg}}</th>
                    <td>{{form.submit(class="btn btn-success")}}</th>
                
                </tr>
            </form>
            <tr>
                <th>No.</th>
                <th>Media</th>
                <th>File Name</th>
                <th>Type</th>
                <th>Date Created</th>
                <th>Time Created</th>
                <th>Action</th>
            </tr>
        </thead>
        {% for content in user.contents %}
        
        <tr>
            <td>
                {{ loop.index }}.

            </td>
            <td>
                {%if content.file_type == "Image"%}
                <img src="{{ content.file_path }}" width="100" height="100" alt="404">

                {%elif content.file_type == "Audio"%}
                <audio controls>
                    <source src="{{content.file_path}}" type="audio/mpeg">
                </audio>

                {%elif content.file_type == "Video"%}
                <video width="100" height="100" controls>
                <source src="{{content.file_path}}" type="video/mp4">
                </video>


            {%endif%}
            </td>
            <td>
                {{content.name}}
            </td>
            <td>
                {{content.file_type}}
            </td>
            <td>
                {{content.date_added.strftime("%x")}}
            </td>
            <td>
                {{content.date_added.strftime("%X")}}
            </td>
            <td>
                <button type="button" onClick="confirmDelete( {{ content.id }} )">
                Delete
                </button>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}




