{% extends "base.html" %} {% block title %} Sign-up {% endblock %}

{% block content %}
<h1>This is signUp Page</h1>
<form method = "POST">
    <h3 align = "center"> Sign-Up</h3>

    <div class="form-group">
        <label for="email"> Email Address</label>
        <input type="email" class="form-cntrol" 
        id="email" name="email" 
        placeholder="Enter Eimail"/>
    </div>

    <div class="form-group">
        <label for="department"> Department</label>
        <input type="text" class="form-cntrol" 
        id="department" name="department" 
        placeholder="Enter Department"/>
    </div>

    <div class="form-group">
        <label for="passowrd1"> Password</label>
        <input 
        type="password" 
        class="form-cntrol" 
        id="password1" 
        name="password1" 
        placeholder="Enter Password"
        />
    </div>

    <div class="form-group">
        <label for="password2"> Confirm Password</label>
        <input type="password" class="form-cntrol" 
        id="password2" name="password2" 
        placeholder="Confirm Passoword"/>
    </div>

    <br />

    <button type="submit" class="btn btn-primary"> SignUp</button>
</form>
{% endblock %}  